
*,
*::after,
*::before {
    box-sizing: border-box;
}

.page {
    height: 100%;
}

.page-body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    list-style: none;
    text-align: center;
    margin: 0;
}


.menu-item {
    display: inline-block;
    text-align: center;
    margin: 25px;
}

.menu-link {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}

.main-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 49px;
    margin-bottom: 38px;
}

.main-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin-top: 0;
    margin-bottom: 28px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    color: #373737;
}

.main-button {
    display: block;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: 63px;
    margin-bottom: 79px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.footer-text {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    margin-right: 105px;
}